<!DOCTYPE html>
<html lang="en">

    {{>head}}

    <body>

        <div class="wrapper">
            {{>header}}
            <div class="container">
                <div class="section">
                    <h1>Hello Foods</h1>
                    <p>This is a simple example of how to use the </p>
                </div>
            </div>
        </div>

        <div class="category" id="#category">
            <div class="container">
                <center><h1>Category</h1></center>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <div class="card" >
                            <img class="card-img-top" src="/images/gallery-img1.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to
                                    build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <div class="card" >
                            <img class="card-img-top" src="/images/images (3).jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to
                                    build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <div class="card" >
                            <img class="card-img-top" src="/images/images (4).jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to
                                    build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>