<html lang="en">
  
    {{>head}}

  <body>
    {{>header}}
    <div class="login">
      <div class="form">

        <center><h1>Login Form</h1></center>
        <form action="/login" method="POST">
          <div class="email">
            <label for="email">Email</label>
            <input type="email" class="" name="email" placeholder="Enter your email">
          </div>
          <div class="password">
            <label for="password">Password</label>
            <input type="password" class="" name="password" placeholder="Enter your password">
          </div>
          <div class="new-account">
            <a href="/register">Create new account</a>
          </div>
          <div class="email">
            <input type="submit" value="Submit" name="sumbmit" class="btn">
          </div>
        </form>
        
      </div>
    </div>
  </body>
</html>